@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');


.wrapper{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.center-wrapper h1{
    font-family: 'Caveat';
    text-decoration: underline rgb(93, 233, 238);
    color: rgb(245, 68, 245);
    margin-top: 60%;
}

.Content_stage2 h4{
    color: aqua;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}
.Content_stage2 .losser{
    color: rgb(240, 57, 72);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.Position_s2{
   margin-top: 100px;
   
  
    
}
